.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.header .logo {
  width: 55px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
}

.header .btn-menu {
  position: relative;
  z-index: 50;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .btn-menu span {
  display: block;
  width: 100%;
  background: white;
  height: 3px;
  border-radius: 3px;
}

.header .btn-menu span:nth-child(2) {
  margin: 5px auto;
}

.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.6s 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.6s 0.3s cubic-bezier(1, 0, 0, 1);
}

.header .menu li {
  margin: 15px auto;
  text-align: center;
}

.header .menu li a {
  position: relative;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.header .menu li a:hover {
  opacity: 1;
}

.header .menu li a::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.header .menu li a:hover::after {
  -webkit-transform: scaleX(1) rotate(5deg);
          transform: scaleX(1) rotate(5deg);
}

.header .menu li a.active {
  opacity: 1;
}

.header .menu li a.active::after {
  height: 5px;
  -webkit-transform: scaleX(1) rotate(5deg);
          transform: scaleX(1) rotate(5deg);
}

.header .menu .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.header .menu .social a {
  font-size: 35px;
  color: white;
  opacity: 0.5;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.header .menu .social a:hover {
  opacity: 1;
}

.header .menu .copy {
  margin-top: 50px;
  font-size: 18px;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 25px;
}

.header .menu.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
}

@media (min-width: 768px) {
  .header .logo {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 0 15px;
  }
  .header .logo {
    padding-top: 10px;
    width: 80px;
    height: 80px;
  }
  .header .btn-menu {
    display: none;
  }
  .header .menu {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header .menu li {
    margin: auto;
    margin-left: 30px;
  }
  .header .menu li a {
    display: inline-block;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
  }
  .header .menu li a::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #303030;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .header .menu li a:hover::after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .header .menu li a.active {
    opacity: 0;
  }
  .header .menu li a.active::after {
    height: 90px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .header .menu .social, .header .menu .copy {
    display: none;
  }
}
